{% extends '../Base.html' %}
{% load static %}
{% block css %}
{% endblock %}

{% block content     %}


<div class='imgHome'>
    <div>
        <div> 
            <img src="{% static 'tienda/img/ARO 29 MERAK 1 NEGRA 249.990.jpg' %}" alt="imagen1">
        </div>
        <div> 
            <img src="{% static 'tienda/img/Oxford Aro 29 Orion 4 202210 299.990.jpg' %}" alt="imagen2">   
        </div>
        <div> 
            <img src="{% static 'tienda/img/Oxford Aro 29 Orion 4 202210 299.990.jpg' %}" alt="imagen3">  
        </div>
    </div>
</div>

{% endblock %}


