{% extends '../Base.html' %}
{% load static %}
{% block css %}
{% endblock %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Ingresar Datos</h1>
    <hr> 
    <h5>¿No tienes cuenta? Haz click aquí para crear una.</h5>
    
    {% if error_message %}
        

    {% if error_message %}

    {% if error_message %}

  
<p>{{ error_message }}</p>
    {% endif %}
     
    {% endif %}
    
    {% endif %}

<form method="post" action="{% url 'login' %}">
        {% csrf_token %}

        {{ form }}
    
        <!--
            <label for="email">Correo electrónico:</label>

        <input type="email" name="email" required>
                <br>
            
        <label for="password">Contraseña:</label>
        
        <input type="password" name="password" required>
        -->

            
<br>
       
<input type="submit" value="Iniciar sesión">
<a href="{% url 'Home' %}"> O Volver a la Tienda</a>   
</form>
</body>
</html>
{% endblock content  %}