{% extends '../Base.html' %}
{% load static %}
{% load crispy_forms_tags %}


{% block content %}
  <div id="wrapper">
  <body cz-shortcut-listen="true">
    
    
      <div class="container w-50 justify-content-center">
        <div class="box">
          <h2>Ingresa tus datos para crear tu cuenta</h2>


    <div class="slider">
      <form action="" method="post">
        <fieldset>

          {% csrf_token %}
          {{ form| crispy }}


        <p class="submit">
          <input class="primary" type="submit" value="Registrarse" tabindex="6">
          &nbsp;o <a href="{% url 'login' %}" style="margin: 10px 0 0 4px">Volver</a>
        </p>
      </fieldset>

    </form>
  </div><!-- /slider -->

</div><!-- /container -->

<script type="text/javascript">
  window.toggleUserType = function(input) 
    var div = document.getElementById('company-fields');
    if (!div) return;

    if (input.value == 'company') {
      div.style.display = 'block';
      document.getElementById('user_company_name').disabled = null;
      document.getElementById('user_company_id_number').disabled = null;
    } else {
      div.style.display = 'none';
      document.getElementById('user_company_name').disabled = true;
      document.getElementById('user_company_id_number').disabled = true;
    }
    
</script>
  </div>
</body>
</html>   

{% endblock content  %} 
