#imgPrincipal{
    width: 100%;
    height: auto;
}
.imapro{
    width: 30%;
    height: auto;
    margin-left: 2%;
}
.texpro{
    width: 30%;
    height: auto;
    margin-left: 2%;
}
#iconoBoton{
    width: 30%;
    margin-left: 90%;
}
.botonPre{
    margin-left: 1%;
}
.boton1{
    margin-bottom: 2%;
}
.SubTi{
    margin-bottom: 5%;
}
header {
    background-color: #006494;
}
#NavInicio a:hover {
    background-color:rgba(41, 176, 214, 0.964);
}
.Nav2 a:hover {
    background-color:rgba(41, 176, 214, 0.964);
}
#color {
    color: rgb(195, 221, 227);
    background-color:#6b9ac4;
}
#fondo1 {
    background-color: red;
}
#fondo2 {
    background-color: rgb(16, 103, 157);
}
#Nav3 a:hover {
    background-color:rgba(41, 176, 214, 0.964);
}
body{
    background-COLOR: #0582ca;
}
.footer h4{
    background-color: rgb(8, 98, 161);
}
#caja{
    position: relative;
    padding-top: 5rem;
    padding-bottom: 15rem;
}
