{% extends '../Base.html' %}

{% block content %}


    <div class="container" style="min-height: 400px;">
        {% if productos %}
        <div class="d-flex justify-content-around flex-wrap">
            {% for p in productos %}
                <div class="card col-md-3 m-1 my-2">
                    <div class="w-100" style="min-height: 260px;">
                        <a href="{% url 'detalles' producto_id=p.id %}">
                            <img src="{{ p.imagen.url }}" class="card-img-top " alt="{{ p.nombre }}">
                        </a>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">{{ p.nombre }}</h5>
                        <p class="card-text">$ {{ p.precio }}</p>
                        <div class="d-flex w-100 justify-content-around align-bottom" style="height: 50px;">
                        <a href="{% url 'agregar_producto_carrito' producto_id=p.id %}">
                            <button class="btn btn-secondary" style="width: 90px;">Carrito</button>
                        </a>
                        <a href="{% url 'Pago' %}">
                            <button class="btn btn-success" style="width: 90px;">Pagar</button>
                        </a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        {% else %}
        <div class="d-flex justify-content-center" style="margin-top: 200px;">
            <h2 class="text-center">No se encontraron productos.</h2>
        </div>
        {% endif %}
    </div>
{% endblock content %}