{% extends '../Base.html' %}

{% block content %}
    <section class="container d-flex justify-content-around flex-wrap">
        {% if productos %}
            {% for p in productos %}
                <div class="card col-md-3 m-1 my-2">
                    <div class="w-100" style="min-height: 280px;">
                        <a href="{% url 'detalles' producto_id=p.id %}">
                          <img src="{{ p.imagen.url }}" class="card-img-top " alt="{{ p.nombre }}">
                        </a>
                    </div>
                        
                    <div class="card-body">
                        <h5 class="card-title">{{ p.nombre }}</h5>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            Sin Datos
        {% endif %}
    </section>
{% endblock content %}