{% extends '../Base.html' %}
{% load static %}

{% block content %}

<h2 class="text-center">Metodos De Pago</h2>

<form id="pago" action="{% url 'factura' %}">
<section>   
    <label for="cardholder">Titular de la tarjeta:</label>
        
    <input type="text" id="cardholder" name="cardholder" required>

    <label for="cardnumber">Número de tarjeta:</label>
    
    <input type="text" id="cardnumber" name="cardnumber" pattern="[0-9]{13,16}" required>

    <label for="expiry">Fecha de vencimiento:</label>
    <input type="date" id="expiry" name="expiry" required>

    <label for="cvv">CVV:</label>

    <input type="number" id="cvv" name="cvv" maxlength="3" minlength="3" required>
</section>    
<br>
<p>Métodos de pago:</p>
<section class="payment-options d-flex">     

    

    <a href="stripe_payment.html"><img src="{% static 'tienda/img/stripe.png' %}" alt="Stripe"></a>

    <a href="paypal_payment.html"><img src="{% static 'tienda/img/paypal.png' %}" alt="PayPal"></a>

    <a href="mercadopago_payment.html"><img src="{% static 'tienda/img/mercadopago.jpg' %}" alt="MercadoPago"></a> 
    </section>

    <input type="submit" value="Realizar pago">  
</form>
{% endblock content %}