{% extends '../Base.html' %}
{% load static %}
{% block css %}
{% endblock %}
{% block content %}

<!DOCTYPE html>
<html>
</br>
<head>
</head>
<body>
    <main>
    <div class="row">
      <div data-bs-spy="scroll" data-bs-target="#simple-list-example" data-bs-offset="0" data-bs-smooth-scroll="true" class="scrollspy-example" tabindex="0">
        <h4 class="d-flex justify-content-center simple-list-item-1">Categorias</h4>
        <p><h2>Bicicletas</h2></p>
        <div class='imgHome'>
            <section class="d-flex justify-content-center "> 
                <br/>
              </section>
              <section class="container"> 
                  <div class=" row"> 
                    <img class="col-md-4" src="{% static 'tienda/img/1categoria/(1)ARO 29 MERAK 1 NEGRA 249.990.jpg' %}" alt="imagen">
                    <img class="col-md-4" src="{% static 'tienda/img/1categoria/(2)BICICLETA BIANCHI ADVANTAGE 275 SX $219.990.jpg' %}" alt="imagen">
                    <img class="col-md-4" src="{% static 'tienda/img/1categoria/(3)Trek marlin 4 2022 verde 27.5 399.000.webp' %}" alt="imagen">
                </div>
                <div class=" row"> 
                    <div class="col-md-4"> <p>Descripcion:ARO 29' MERAK 1 NEGRA $249.990</p> </div>
                    <div class="col-md-4"> <p>Descripcion:BICICLETA BIANCHI ADVANTAGE 27.5' SX $219.990</p> </div>
                    <div class="col-md-4"> <p>Descripcion:Trek marlin 4 2022 verde 27.5' $399.000</p> </div>
                </div>
              <div class="row"> 
                <div class="col-md-4">
                  <button type="submit" class="btn btn-primary">Agregar al Carro</button>
                </div>
                <div class="col-md-4">
                  <button type="submit" class="btn btn-primary">Agregar al Carro</button>
                </div>
                <div class="col-md-4">
                  <button type="submit" class="btn btn-primary">Agregar al Carro</button>
                </div>
              </div>
            </br>
                  <div class="row"> 
                    <img class="col-md-4" src="{% static 'tienda/img/1categoria/(4)Oxford Aro 29 Orion 4 202210 299.990.jpg' %}" alt="imagen">
                    <img class="col-md-4" src="{% static 'tienda/img/1categoria/(5)BICICLETA BIANCHI MOUNTAIN 27.5 $279.990.jpg' %}" alt="imagen">
                    <img class="col-md-4" src="{% static 'tienda/img/1categoria/(6)Trek Marlin7verde1 aro 29 599.000.webp' %}" alt="imagen">
                  </div>
                  <div class="row"> 
                    <div class="col-md-4"> <p>Descripcion:Oxford Aro 29' Orion 4 202210 $299.990</p> </div>
                    <div class="col-md-4"> <p>Descripcion:BICICLETA BIANCHI MOUNTAIN 27.5' $279.990</p> </div>
                    <div class="col-md-4"> <p>Descripcion:Trek Marlin7verde1 aro 29' $599.000</p></div>
                </div>
              <div class="row"> 
                <div class="col-md-4">
                  <button type="submit" class="btn btn-primary">Agregar al Carro</button>
                </div>
                <div class="col-md-4">
                  <button type="submit" class="btn btn-primary">Agregar al Carro</button>
                </div>
                <div class="col-md-4">
                  <button type="submit" class="btn btn-primary">Agregar al Carro</button>
                </div>
              </div>
                </section>   
    </br>


        <h4 id="simple-list-item-2">Nuevos</h4>
        <p><h2> </h2></p>
        <section class="d-flex justify-content-center "> 
            <br/>
          </section>
          <section class="container"> 
              <div class=" row"> 
                <img class="col-md-4" src="{% static 'tienda/img/2nuevos/(1)BICICLETA 2022 FENIX ARO 29 NEGRO $149.990.jpg' %}" alt="imagen">
                <img class="col-md-4" src="{% static 'tienda/img/2nuevos/(2)BICICLETA URBANA LAHSEN BOLLEN ARO 700 2019 $104.990.jpg' %}" alt="imagen">
                <img class="col-md-4" src="{% static 'tienda/img/2nuevos/(3)Jeep Bicicleta Mountain Bike Baltoro Aro 29 $ 249.990.jpg' %}" alt="imagen">
            </div>
            <div class=" row"> 
                <div class="col-md-4"> <p>Descripcion:BICICLETA 2022 FENIX ARO 29 NEGRO $149.990</p> </div>
                <div class="col-md-4"> <p>Descripcion:BICICLETA URBANA LAHSEN BOLLEN ARO 700 2019 $104.990</p> </div>
                <div class="col-md-4"> <p>Descripcion:Jeep Bicicleta Mountain Bike Baltoro Aro 29 $ 249.990</p> </div>
            </div>
            <div class="row"> 
              <div class="col-md-4">
                <button type="submit" class="btn btn-primary">Agregar al Carro</button>
              </div>
              <div class="col-md-4">
                <button type="submit" class="btn btn-primary">Agregar al Carro</button>
              </div>
              <div class="col-md-4">
                <button type="submit" class="btn btn-primary">Agregar al Carro</button>
              </div>
            </div>
        </br>
              <div class="row"> 
                <img class="col-md-4" src="{% static 'tienda/img/2nuevos/(4)BICICLETA 2022 PRIORE ARO 27.5 DORADO $134.990.jpg' %}" alt="imagen">
                <img class="col-md-4" src="{% static 'tienda/img/2nuevos/(5)BICICLETA URBAN QUILLAY ARO 700 BURDEO 2019 $92.990.jpg' %}" alt="imagen">
                <img class="col-md-4" src="{% static 'tienda/img/2nuevos/(6)Jeep Bicicleta MTB Baltoro Pro Aro 29 $ 269.990.jpg' %}" alt="imagen">
              </div>
              <div class=" row"> 
                <div class="col-md-4"> <p>Descripcion:BICICLETA 2022 PRIORE ARO 27.5 DORADO $134.990</p> </div>
                <div class="col-md-4"> <p>Descripcion:BICICLETA URBAN QUILLAY ARO 700 BURDEO 2019 $92.990</p> </div>
                <div class="col-md-4"> <p>Descripcion:Jeep Bicicleta MTB Baltoro Pro Aro 29 $269.990</p> </div>
            </div>
            <div class="row"> 
              <div class="col-md-4">
                <button type="submit" class="btn btn-primary">Agregar al Carro</button>
              </div>
              <div class="col-md-4">
                <button type="submit" class="btn btn-primary">Agregar al Carro</button>
              </div>
              <div class="col-md-4">
                <button type="submit" class="btn btn-primary">Agregar al Carro</button>
              </div>
            </div>
            </section>
        <h4 id="simple-list-item-3">Marca</h4>
        <p><h2> </h2></p>
        <section class="d-flex justify-content-center "> 
            <br/>
          </section>
          <section class="container"> 
              <div class=" row"> 
                <img class="col-md-4" src="{% static 'tienda/img/' %}" alt="imagen">
                <img class="col-md-4" src="{% static 'tienda/img/' %}" alt="imagen">
                <img class="col-md-4" src="{% static 'tienda/img/' %}" alt="imagen">
            </div>
            <div class=" row"> 
                <div class="col-md-4"> <p>Descripcion:</p> </div>
                <div class="col-md-4"> <p>Descripcion:</p> </div>
                <div class="col-md-4"> <p>Descripcion:</p> </div>
            </div>
            <div class="row"> 
              <div class="col-md-4">
                <button type="submit" class="btn btn-primary">Agregar al Carro</button>
              </div>
              <div class="col-md-4">
                <button type="submit" class="btn btn-primary">Agregar al Carro</button>
              </div>
              <div class="col-md-4">
                <button type="submit" class="btn btn-primary">Agregar al Carro</button>
              </div>
            </div>
        </br>
              <div class="row"> 
                <img class="col-md-4" src="{% static 'tienda/img/' %}" alt="imagen">
                <img class="col-md-4" src="{% static 'tienda/img/' %}" alt="imagen">
                <img class="col-md-4" src="{% static 'tienda/img/' %}" alt="imagen">
              </div>
              <div class=" row"> 
                <div class="col-md-4"> <p>Descripcion:</p> </div>
                <div class="col-md-4"> <p>Descripcion:</p> </div>
                <div class="col-md-4"> <p>Descripcion:</p> </div>
            </div>
            <div class="row"> 
              <div class="col-md-4">
                <button type="submit" class="btn btn-primary">Agregar al Carro</button>
              </div>
              <div class="col-md-4">
                <button type="submit" class="btn btn-primary">Agregar al Carro</button>
              </div>
              <div class="col-md-4">
                <button type="submit" class="btn btn-primary">Agregar al Carro</button>
              </div>
            </div>
            </section>
        <h4 id="simple-list-item-4">Modelo</h4>
        <p><h2> </h2></p>
        <section class="d-flex justify-content-center "> 
            <br/>
          </section>
          <section class="container"> 
              <div class=" row"> 
                <img class="col-md-4" src="{% static 'tienda/img/jpg' %}" alt="imagen">
                <img class="col-md-4" src="{% static 'tienda/img/jpg' %}" alt="imagen">
                <img class="col-md-4" src="{% static 'tienda/img/jpg' %}" alt="imagen">
            </div>
            <div class=" row"> 
                <div class="col-md-4"> <p>Descripcion:</p> </div>
                <div class="col-md-4"> <p>Descripcion:</p> </div>
                <div class="col-md-4"> <p>Descripcion:</p> </div>
            </div>
            <div class="row"> 
              <div class="col-md-4">
                <button type="submit" class="btn btn-primary">Agregar al Carro</button>
              </div>
              <div class="col-md-4">
                <button type="submit" class="btn btn-primary">Agregar al Carro</button>
              </div>
              <div class="col-md-4">
                <button type="submit" class="btn btn-primary">Agregar al Carro</button>
              </div>
            </div>
        </br>
              <div class="row"> 
                <img class="col-md-4" src="{% static 'tienda/img/' %}" alt="imagen">
                <img class="col-md-4" src="{% static 'tienda/img/' %}" alt="imagen">
                <img class="col-md-4" src="{% static 'tienda/img/' %}" alt="imagen">
              </div>
              <div class=" row"> 
                <div class="col-md-4"> <p>Descripcion:</p> </div>
                <div class="col-md-4"> <p>Descripcion:</p> </div>
                <div class="col-md-4"> <p>Descripcion:</p> </div>
            </div>
            <div class="row"> 
              <div class="col-md-4">
                <button type="submit" class="btn btn-primary">Agregar al Carro</button>
              </div>
              <div class="col-md-4">
                <button type="submit" class="btn btn-primary">Agregar al Carro</button>
              </div>
              <div class="col-md-4">
                <button type="submit" class="btn btn-primary">Agregar al Carro</button>
              </div>
            </div>
            </section>
        <h4 id="simple-list-item-5">Genero</h4>
        <p><h2> </h2></p>
        <section class="d-flex justify-content-center "> 
            <br/>
          </section>
          <section class="container"> 
              <div class=" row"> 
                <img class="col-md-4" src="{% static 'tienda/img/' %}" alt="imagen">
                <img class="col-md-4" src="{% static 'tienda/img/' %}" alt="imagen">
                <img class="col-md-4" src="{% static 'tienda/img/' %}" alt="imagen">
            </div>
            <div class=" row"> 
                <div class="col-md-4"> <p>Descripcion:</p> </div>
                <div class="col-md-4"> <p>Descripcion:</p> </div>
                <div class="col-md-4"> <p>Descripcion:</p> </div>
            </div>
            <div class="row"> 
              <div class="col-md-4">
                <button type="submit" class="btn btn-primary">Agregar al Carro</button>
              </div>
              <div class="col-md-4">
                <button type="submit" class="btn btn-primary">Agregar al Carro</button>
              </div>
              <div class="col-md-4">
                <button type="submit" class="btn btn-primary">Agregar al Carro</button>
              </div>
            </div>
        </br>
              <div class="row"> 
                <img class="col-md-4" src="{% static 'tienda/img/' %}" alt="imagen">
                <img class="col-md-4" src="{% static 'tienda/img/' %}" alt="imagen">
                <img class="col-md-4" src="{% static 'tienda/img/' %}" alt="imagen">
              </div>
              <div class=" row"> 
                <div class="col-md-4"> <p>Descripcion:</p> </div>
                <div class="col-md-4"> <p>Descripcion:</p> </div>
                <div class="col-md-4"> <p>Descripcion:</p> </div>
            </div>
            <div class="row"> 
              <div class="col-md-4">
                <button type="submit" class="btn btn-primary">Agregar al Carro</button>
              </div>
              <div class="col-md-4">
                <button type="submit" class="btn btn-primary">Agregar al Carro</button>
              </div>
              <div class="col-md-4">
                <button type="submit" class="btn btn-primary">Agregar al Carro</button>
              </div>
            </div>
            </section>
        <h4 id="simple-list-item-6">Aro</h4>
        <p><h2> </h2></p>
        <section class="d-flex justify-content-center "> 
            <br/>
          </section>
          <section class="container"> 
              <div class=" row"> 
                <img class="col-md-4" src="{% static 'tienda/img/' %}" alt="imagen">
                <img class="col-md-4" src="{% static 'tienda/img/' %}" alt="imagen">
                <img class="col-md-4" src="{% static 'tienda/img/' %}" alt="imagen">
            </div>
            <div class=" row"> 
                <div class="col-md-4"> <p>Descripcion:</p> </div>
                <div class="col-md-4"> <p>Descripcion:</p> </div>
                <div class="col-md-4"> <p>Descripcion:</p> </div>
            </div>
            <div class="row"> 
              <div class="col-md-4">
                <button type="submit" class="btn btn-primary">Agregar al Carro</button>
              </div>
              <div class="col-md-4">
                <button type="submit" class="btn btn-primary">Agregar al Carro</button>
              </div>
              <div class="col-md-4">
                <button type="submit" class="btn btn-primary">Agregar al Carro</button>
              </div>
            </div>
        </br>
              <div class="row"> 
                <img class="col-md-4" src="{% static 'tienda/img/' %}" alt="imagen">
                <img class="col-md-4" src="{% static 'tienda/img/' %}" alt="imagen">
                <img class="col-md-4" src="{% static 'tienda/img/' %}" alt="imagen">
              </div>
              <div class=" row"> 
                <div class="col-md-4"> <p>Descripcion:</p> </div>
                <div class="col-md-4"> <p>Descripcion:</p> </div>
                <div class="col-md-4"> <p>Descripcion:</p> </div>
            </div>
            <div class="row"> 
              <div class="col-md-4">
                <button type="submit" class="btn btn-primary">Agregar al Carro</button>
              </div>
              <div class="col-md-4">
                <button type="submit" class="btn btn-primary">Agregar al Carro</button>
              </div>
              <div class="col-md-4">
                <button type="submit" class="btn btn-primary">Agregar al Carro</button>
              </div>
            </div>
            </section>
        <h4 id="simple-list-item-7">Frenos</h4>
        <p><h2> </h2></p>
        <section class="d-flex justify-content-center "> 
            <br/>
          </section>
          <section class="container"> 
              <div class=" row"> 
                <img class="col-md-4" src="{% static 'tienda/img/' %}" alt="imagen">
                <img class="col-md-4" src="{% static 'tienda/img/' %}" alt="imagen">
                <img class="col-md-4" src="{% static 'tienda/img/' %}" alt="imagen">
            </div>
            <div class=" row"> 
                <div class="col-md-4"> <p>Descripcion:</p> </div>
                <div class="col-md-4"> <p>Descripcion:</p> </div>
                <div class="col-md-4"> <p>Descripcion:</p> </div>
            </div>
            <div class="row"> 
              <div class="col-md-4">
                <button type="submit" class="btn btn-primary">Agregar al Carro</button>
              </div>
              <div class="col-md-4">
                <button type="submit" class="btn btn-primary">Agregar al Carro</button>
              </div>
              <div class="col-md-4">
                <button type="submit" class="btn btn-primary">Agregar al Carro</button>
              </div>
            </div>
        </br>
              <div class="row"> 
                <img class="col-md-4" src="{% static 'tienda/img/' %}" alt="imagen">
                <img class="col-md-4" src="{% static 'tienda/img/' %}" alt="imagen">
                <img class="col-md-4" src="{% static 'tienda/img/' %}" alt="imagen">
              </div>
              <div class=" row"> 
                <div class="col-md-4"> <p>Descripcion:</p> </div>
                <div class="col-md-4"> <p>Descripcion:</p> </div>
                <div class="col-md-4"> <p>Descripcion:</p> </div>
            </div>
            <div class="row"> 
              <div class="col-md-4">
                <button type="submit" class="btn btn-primary">Agregar al Carro</button>
              </div>
              <div class="col-md-4">
                <button type="submit" class="btn btn-primary">Agregar al Carro</button>
              </div>
              <div class="col-md-4">
                <button type="submit" class="btn btn-primary">Agregar al Carro</button>
              </div>
            </div>
            </section>
        <h4 id="simple-list-item-8">Descuentos</h4>
        <p><h2> </h2></p>
        <section class="d-flex justify-content-center "> 
            <br/>
          </section>
          <section class="container"> 
              <div class=" row"> 
                <img class="col-md-4" src="{% static 'tienda/img/' %}" alt="imagen">
                <img class="col-md-4" src="{% static 'tienda/img/' %}" alt="imagen">
                <img class="col-md-4" src="{% static 'tienda/img/' %}" alt="imagen">
            </div>
            <div class=" row"> 
                <div class="col-md-4"> <p>Descripcion:</p> </div>
                <div class="col-md-4"> <p>Descripcion:</p> </div>
                <div class="col-md-4"> <p>Descripcion:</p> </div>
            </div>
            <div class="row"> 
              <div class="col-md-4">
                <button type="submit" class="btn btn-primary">Agregar al Carro</button>
              </div>
              <div class="col-md-4">
                <button type="submit" class="btn btn-primary">Agregar al Carro</button>
              </div>
              <div class="col-md-4">
                <button type="submit" class="btn btn-primary">Agregar al Carro</button>
              </div>
            </div>
        </br>
              <div class="row"> 
                <img class="col-md-4" src="{% static 'tienda/img/' %}" alt="imagen">
                <img class="col-md-4" src="{% static 'tienda/img/' %}" alt="imagen">
                <img class="col-md-4" src="{% static 'tienda/img/' %}" alt="imagen">
              </div>
              <div class=" row"> 
                <div class="col-md-4"> <p>Descripcion:</p> </div>
                <div class="col-md-4"> <p>Descripcion:</p> </div>
                <div class="col-md-4"> <p>Descripcion:</p> </div>
            </div>
            <div class="row"> 
              <div class="col-md-4">
                <button type="submit" class="btn btn-primary">Agregar al Carro</button>
              </div>
              <div class="col-md-4">
                <button type="submit" class="btn btn-primary">Agregar al Carro</button>
              </div>
              <div class="col-md-4">
                <button type="submit" class="btn btn-primary">Agregar al Carro</button>
              </div>
            </div>
            </section>
      </div>
    </div>
  </div>
    <table border>
        <!--titupo de mi tabla toda fea-->
        <tr>
        <th>Nombre</th>
        <th>Cantidad</th>
        <th>Marca</th>
        <th>Precio</th>
        <th>Imagen</th>
        <th>Carrito</th>
        <th>Comprar</th>
        
        </tr>
        <!-- lineas que se reperiran hasta que se aburra-->

        {% for p in productos %}
        <tr>
            <td>{{ p.nombre }}</td>
            <td>{{ p.cantidad }}</td>
            <td>{{ p.marca }}</td>
            <td>{{ p.precio }}</td>
            <td>
                <img src="{{ p.imagen.url }}" width="30px" height="30px">
                
            </td>
            <td><a href="{% url "detalles" producto_id=p.id %}">hola</a></td>

        </tr>
        {% endfor %}
        
    </table>
</main>
</body>
</html>
{% endblock content  %}