{% extends '../Base.html' %}
{% load static %}
{% block css %}
{% endblock %}
{% block content %}

<!DOCTYPE html>
<html>
</br>
<head>
</head>
<body>
    <main>
    <div class="row">
      <div data-bs-spy="scroll" data-bs-target="#simple-list-example" data-bs-offset="0" data-bs-smooth-scroll="true" class="scrollspy-example" tabindex="0">
        <h4 class="d-flex justify-content-center simple-list-item-1">Categorias</h4>
        <p><h2>Bicicletas</h2></p>
        <div class='imgHome'>
            <section class="d-flex justify-content-center "> 
                <br/>
              </section>
              <section class="container"> 
                  <div class=" row"> 
                    <img class="col-md-4" src="{% static 'tienda/img/ARO 29 MERAK 1 NEGRA 249.990.jpg' %}" alt="imagen">
                    <img class="col-md-4" src="{% static 'tienda/img/ARO 29 MERAK 1 NEGRA 249.990.jpg' %}" alt="imagen">
                    <img class="col-md-4" src="{% static 'tienda/img/ARO 29 MERAK 1 NEGRA 249.990.jpg' %}" alt="imagen">
                </div>
                <div class=" row"> 
                    <div class="col-md-4"> <p>Descripcion:</p> </div>
                    <div class="col-md-4"> <p>Descripcion:</p> </div>
                    <div class="col-md-4"> <p>Descripcion:</p> </div>
                </div>
            </br>
                  <div class="row"> 
                    <img class="col-md-4" src="{% static 'tienda/img/ARO 29 MERAK 1 NEGRA 249.990.jpg' %}" alt="imagen">
                    <img class="col-md-4" src="{% static 'tienda/img/ARO 29 MERAK 1 NEGRA 249.990.jpg' %}" alt="imagen">
                    <img class="col-md-4" src="{% static 'tienda/img/ARO 29 MERAK 1 NEGRA 249.990.jpg' %}" alt="imagen">
                  </div>
                  <div class=" row"> 
                    <div class="col-md-4"> <p>Descripcion:</p> </div>
                    <div class="col-md-4"> <p>Descripcion:</p> </div>
                    <div class="col-md-4"> <p>Descripcion:</p> </div>
                </div>
                </section>   
    </br>


        <h4 id="simple-list-item-2">Nuevos</h4>
        <p><h2> </h2></p>
        <h4 id="simple-list-item-3">Marca</h4>
        <p><h2> </h2></p>
        <h4 id="simple-list-item-4">Modelo</h4>
        <p><h2> </h2></p>
        <h4 id="simple-list-item-5">Genero</h4>
        <p><h2> </h2></p>
        <h4 id="simple-list-item-6">Aro</h4>
        <p><h2> </h2></p>
        <h4 id="simple-list-item-7">Frenos</h4>
        <p><h2> </h2></p>
        <h4 id="simple-list-item-8">Descuentos</h4>
        <p><h2> </h2></p>
      </div>
    </div>
  </div>
    <table border>
        <!--titupo de mi tabla toda fea-->
        <tr>
        <th>Nombre</th>
        <th>Cantidad</th>
        <th>Marca</th>
        <th>Precio</th>
        <th>Imagen</th>
        <th>Carrito</th>
        <th>Comprar</th>
        
        </tr>
        <!-- lineas que se reperiran hasta que se aburra-->

        {% for p in productos %}
        <tr>
            <td>{{ p.nombre }}</td>
            <td>{{ p.cantidad }}</td>
            <td>{{ p.marca }}</td>
            <td>{{ p.precio }}</td>
            <td>
                <img src="{{ p.imagen.url }}" width="30px" height="30px">
                
            </td>
            <td><a href="{% url "detalles" producto_id=p.id %}">hola</a></td>

        </tr>
        {% endfor %}
        
    </table>
</main>
</body>
</html>
{% endblock content  %}