{% extends '../Base.html' %}
{% block content %}

<div class="Nav2 ">  
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="{% url 'Producto' %}">Agregar</a>
    <ul id="fondo2" class="dropdown-menu">
      <div class="col-4 ">
        <div id="fondo2" class="d-flex text-center">
          <a id="color" class="p-1 rounded nav-link " href="{% url 'agregar_producto' 'producto' %}">Producto</a>
          <a id="color" class="p-1 rounded nav-link " href="{% url 'agregar_producto' 'marca' %}">Marca</a>
          <a id="color" class="p-1 rounded nav-link " href="{% url 'agregar_producto' 'modelo' %}">Modelo</a>
          <a id="color" class="p-1 rounded nav-link " href="{% url 'agregar_producto' 'genero' %}">Genero</a>
          <a id="color" class="p-1 rounded nav-link " href="{% url 'agregar_producto' 'aro' %}">Aro</a>
        </div>
      </div>
    </ul>
  </li>
</div>

<div class="Nav2 ">  
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="{% url 'Producto' %}">Listar</a>
    <ul id="fondo2" class="dropdown-menu">
      <div class="col-4 ">
        <div id="fondo2" class="d-flex text-center">
          <a id="color" class="p-1 rounded nav-link " href="{% url 'listar_productos' 'producto' %}">Producto</a>
          <a id="color" class="p-1 rounded nav-link " href="{% url 'listar_productos' 'marca' %}">Marca</a>
          <a id="color" class="p-1 rounded nav-link " href="{% url 'listar_productos' 'modelo' %}">Modelo</a>
          <a id="color" class="p-1 rounded nav-link " href="{% url 'listar_productos' 'genero' %}">Genero</a>
          <a id="color" class="p-1 rounded nav-link " href="{% url 'listar_productos' 'aro' %}">Aro</a>
        </div>
      </div>
    </ul>
  </li>
</div>
{% endblock %}