<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>eligetubici</title>
</head>
<body>
<header>
    <div class="Primerh3">  
      <h3 class="d-flex justify-content-center m-2">Elige tu bicicleta</h3>
    </div>
    <nav class="navbar navbar-expand-lg navbar-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="#"></a>
          <div class="collapse navbar-collapse d-flex justify-content-center " id="navbarNavAltMarkup">
            <div class="navbar-nav">
              <a class="nav-link active" aria-current="page" href="{% url 'Home' %}">Inicio</a>
              <a class="nav-link" href="{% url 'Producto' %}">Producto</a>
            </div>
          </div>
        </div>
      </nav>
    </header>

    {% block content %}
    
    {% endblock content %}
    
    <footer>
      <section class="footer ">
          <h4 class="m-2 bg-primary">Contactenos</h4>
          <nav class="navbar navbar-expand-lg navbar-dark">
              <div class="container-fluid">
                <a class="navbar-brand" href="#"></a>
                <div class="collapse navbar-collapse d-flex justify-content-center justify-content-evenly" id="navbarNavAltMarkup">
                    <a class="nav-link" target="_blanck" href="https://web.whatsapp.com/"><img src="img/wsp.png" alt="Logo" style="width: 50px ;height: 50px "></a>
                    <a class="nav-link" target="_blanck" href="https://www.instagram.com/eligetubici/"><img src="img/insta.png" alt="Logo" style="width: 50px ;height: 50px "></a>
                    <a class="nav-link" href="mailto:eligetubici123@gmail.com?subject=contacto&body=Agendar Hora'"><img src="img/correo.png" alt="Logo" style="width: 50px ;height: 50px "></a>
                  </div>
                </div>
              </div>
            </nav>
          <nav class="navbar navbar-expand-lg navbar-dark">
              <div class="container-fluid">
                <a class="navbar-brand" href="#"></a>
                <div class="collapse navbar-collapse d-flex justify-content-center justify-content-evenly" id="navbarNavAltMarkup">
                    <a class="nav-link" target="_blanck" href="https://web.whatsapp.com/">whatsapp</a>
                    <a class="nav-link" target="_blanck" href="https://www.instagram.com/eligetubici/">Instagram</a>
                    <a class="nav-link " href="mailto:eligetubici123@gmail.com?subject=contacto&body=Agendar Hora'">Correo</a>
                  </div>
                </div>
              </div>
            </nav>    
      </section>
  </footer>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" 
              integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
</body>
</html>
