<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Elige-tu-bici</title>
</head>
<body>
<header>
    <div class="Primerh3">  
      <h3 class="d-flex justify-content-center m-2">Elige tu bicicleta</h3>
    </div>
    <nav class="navbar navbar-expand-lg navbar-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="#"></a>
          <div class="collapse navbar-collapse d-flex justify-content-center " id="navbarNavAltMarkup">
            <div class="navbar-nav">
              <a class="nav-link active" aria-current="page" href="{% url 'Home' %}">Inicio</a>
              <a class="nav-link" href="{% url 'Producto' %}">Producto</a>
            </div>
          </div>
        </div>
      </nav>
    </header>

    {% block content %}
    
    {% endblock content %}
    
</body>
<footer>
    
</footer>
</html>